
.contactView {
  height: 1000px;
  background-color: var(--navyBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

  #contactTitle {
    font-size: 5em;
    text-align: center;
    padding-top: 40px;
    margin-block-start: 0;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
  }

    .formBoxes {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .formBoxesTop {
      display: flex;
      justify-content: center;
    }

    .formBoxesTop input[type="text"], input[type="email"] {
      width: 45%;
      font-size:20px;
      font-family: var(--fontMono);
      margin: 5px;
    }

    .formBoxesBottom {
      width: 100%;
    }

    .formBoxesBottom textarea {
      width: 100%;
      font-size:20px;
    }

    .form-control {
      background-color: var(--otherBlue);
      border-radius: 20px;
      border: 0;
      box-shadow:0 0 15px 4px var(--otherBlue);
      color: var(--orange);
      padding:10px;
      font-family: var(--fontMono);

      border-color: var(--otherBlue);
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px var(--otherBlue);
      outline: 0 none;
    }

    .formButtonDiv {
      display: flex;
      justify-content: center;
    }

    .formButton {
      background-color: var(--otherBlue);
      border-radius: 20px;
      border: 0;
      box-shadow:0 0 15px 4px var(--otherBlue);
      color: var(--lighterGrey);
      padding:10px;
      font-family: var(--fontMono);
      border-color: var(--otherBlue);
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px var(--otherBlue);
      outline: 0 none;
      font-size:20px;

    }

    .formButton:hover {
      transform: scale(1.05);
      transition: filter 500ms;
      cursor: pointer;
      background-color: #2c3e57;
      color: var(--orange);
      
    }


  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    var(--lighterGrey);
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    var(--lighterGrey);
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    var(--lighterGrey);
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    var(--lighterGrey);
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:    var(--lighterGrey);
  }
  
  ::placeholder { /* Most modern browsers support this now. */
    color:    var(--lighterGrey);
  }
  
  .custom-shape-divider-bottom-1637659269 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1637659269 svg {
    position: relative;
    display: block;
    width: calc(173% + 1.3px);
    height: 130px;
    transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1637659269 .shape-fill {
    fill: #142844;
  }
  

@media screen and (max-width: 650px) {

  .formBoxesTop {
    flex-direction: column;
    align-items: center;
  }

  .formBoxesTop input[type="text"], input[type="email"] {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}