
.skillsView {
  height: 1000px;
  background-color: var(--navyBlue);
}

  #skillsTitle {
    font-size: 5em;
    text-align: center;
    padding-top: 40px;
    margin-block-start: 0;
  }

  .skillCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #skillCardsLeft {
    display: flex;
  }

  #skillCardsRight {
    display: flex;
  }

    .skillCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      min-width: 180px;
    }

      .skillCardTitle {
        font-family: var(--fontMono);
        color: var(--lighterGrey);
        font-weight: 400;
      }

      .skillCardLogo:hover svg {
        transform: scale(1.2);
      }

      .skillCardLogoLabel {
        font-family: var(--fontMono);
        color: var(--lighterGrey);
        text-align: center;
        margin-top: 3px;
      }


@media screen and (max-width: 800px) {

  .skillsView {
    height: 1600px;

  }
  
}

@media screen and (max-width: 450px) {

  .skillsView {
    height: 1400px;
  }

  .skillCards {
    transform: scale(0.85);
  }

  #skillsTitle {
    margin-bottom: 0;
  }
  
}